
/AA/x64
/x64/Debug
.vs/AA/FileContentIndex/18361fbc-892b-4346-bb00-9adde8910f64.vsidx
.vs/AA/FileContentIndex/9e155223-4c49-491d-98c0-42ddb81f0336.vsidx
.vs/AA/v17/.suo
.vs/AA/v17/Browse.VC.db
.vs/AA/v17/Browse.VC.db-shm
.vs/AA/v17/Browse.VC.db-wal
.vs/AA/v17/Browse.VC.opendb
.vs/AA/v17/DocumentLayout.json
.vs/AA/v17/ipch/AutoPCH/b268fd740f78c673/AA.ipch
AA.sln
AA.vcxproj
AA.vcxproj.filters
AA.vcxproj.user
